:root{
    --main-bg-color: #304c3b;
    --secondary-bg-color: #101e18;
}

body {
    background-color: #f1ede4;
}

h1{
    color:#183E33;
    font-size: 28px;
    font-family: "Arimo", Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    font-weight: bold;
    line-height: 162%;
    font-style: italic;
}

h2{
    color: #183E33;
    font-family: "Arimo", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
}

h3{
    color: #183E33;
    font-family: "Arimo", Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h4{
    font-family: "Arimo", Arial, Helvetica, sans-serif;
    color: #183E33;
    font-size: 16px;

}

p{
    font-family: "Manrope", Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-bottom: 12px;    
}

a{
    font-size: 14px;
    color:black;
    text-decoration: none;
}

tr.table-nav td{
    padding: 12px 0;
}

li{
    margin-left: 48px;
}

.lettered li{
    list-style-type: upper-alpha;
}

th{
    background-color: var(--main-bg-color);
    font-family: "Manrope", Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #F0FFF3;
    padding: 6px;
}

.table-nav td{
    padding: 6px;
    color:#183E33;
    font-family: "Merriweather", 'Times New Roman', Times, serif;
    font-size: 16px;
}

tr{
    border-bottom: 1px solid #6A8A81;
}

table{
    margin-bottom: 24px;
}

#header_h1{
    font-size: 48px;
    color:#f0fff3;
}

#header_h1 a{
    color: white;
    font-size: 24px;
    cursor: pointer;
}

#header_h1 a:hover{
    transform: scale(1.2); 
}

#page-heading{
    margin-top: 90px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #183E33;
}

.other-actions{
    text-align: center;
}

.intro .bg-green{
    margin: 0;
    background-color: var(--secondary-bg-color);
}

.bg-green{
    background-color: var(--main-bg-color);
    padding: 64px;
    margin: 96px;
}

#announcement h2{
    color: white;
    font-weight: 400;
    margin-bottom: 48px;
}

#announcement p{
    font-size: 20px;
}


.main-pic{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Fix Bootstrap setting */
/* Add to mobile */
.intro .col-md-6{
    padding: 0%;
}

.btn-content{
    margin-bottom: 36px;
    display: flex;
    justify-content: center;
}

.btn-content .btn{
    border: solid 1px #183E33;
    color: #183E33;
    margin: 0 12px;
}

.btn-content #nom-btn{
    background-color: #183E33;
    font-size: 16px;
    color: white;
    border-radius: 12px;
    padding: 12px 24px;
}

.btn-content .btn:hover{
    background-color: #183E33;
    color: white;
}

.footnotes{
    margin-top: 48px;
}

.content {
    background-color: white;
    border-radius: 9px;
    border: 1px solid rgba(0, 0, 0, 0.45);
    margin: 60px 0;
    padding: 45px 90px;
}

.hero-section{
    text-align: center;
    padding: 81px 100px;
    background-image: url('img/header.jpg');
    background-position: 50% 65%;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 500px;
    min-height: 168px; 
    position: relative;
    z-index: 0;
}


#logo-text{
    position: absolute;
    font-family: Roboto Slab;
    font-weight:bold;
    font-size:10px;
    color: #F0FFF3;
    margin-top: -11px;
    z-index: 1;
}

.img-preview{
    border: 1px solid #18211e80;
}

/* Recipients */


.rec h1 {
    color: #F0FFF3;
    font-size: 52px;
    font-family: "Arimo", Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    font-weight: 400;
    font-style: italic;
    line-height: 100%;
}

.rec h2 {
    color: #92BB98;
    font-family: "Arimo", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 1px;
}

.rec h3{
    color: #F0FFF3;
    font-family: "Arimo", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

#bio-preview{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bio-preview .btn-content{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}


.rec p{
    color: #F0FFF3;
    font-family: "Manrope", Arial, Helvetica, sans-serif;
    line-height: 150%;
    font-size: 16px;
}

hr{
    border: none;
    height: 2px;
    width: 220px;
    background: #1C473B;
    text-align: center;
    margin-bottom: 30px;
}

/* .carousel{
    position: relative;
    margin-bottom: 60px;
}

.carousel img{
    max-height: 500px;
    width: auto;
} */

.rec a.btn{
    background-color: none;
    color: white;
    border-radius: 9px;
    border: solid 2px white;
    padding: 9px 18px;
    margin-left: 16px;
}

#h-gal{
    color: #1C473B;
    font-family: "Arimo", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
}

.rec .content{
    margin: 0;
    background: none;
    border: none;
    padding: 24px;
}

.video-container{
    display: flex;
    justify-content: center;
    align-content: center;
}

/* Gallery */

.masonry-container {
    column-count: 3;
    column-gap: 10px;
}
.masonry-item {
    display: inline-block;
    width: 100%;
}
.masonry-item img {
    display:block;
    width: 100%;
}


@media only screen and (max-width: 720px){
    h1{
        font-size: 20px;
    }

    h2{
        font-size: 18px;
    }
    
    h3{
        font-size: 16px;
    }
    
    h4{
        font-family: "Arimo", Arial, Helvetica, sans-serif;
        color: #183E33;
        font-size: 14px;
    
    }

    p{
        font-size: 12px;
    }

    td, th{
        font-size: 11px;
    }

    a{
        font-size: 11px;
        color:black;
        text-decoration: none;
    }
    
    tr.table-nav td{
        padding: 4px 0;
    }

    .btn-content #nom-btn{
        font-size: 12px;
        padding: 6px 12px;
    }

    .hero-section{
        padding: 81px 50px;
    }

    .content{
        padding: 21px 33px;
        margin-top: 30px;
    }

    #header_h1{
        font-size: 30px;
    }

    #header_h1 a{
        color: white;
        cursor: pointer;
        font-size: 16px;
    }

    .btn-content .btn{
        font-size: 12px;
    }

    /* Recipients */
    .rec h1{
        font-size: 34px;
        line-height: 100%;
    }
    
    .rec h2{
        font-size: 24px;
    }
    
    .rec h3{
        font-size: 16px;
    }
    
    .rec p{
        line-height: 150%;
        font-size: 12px;
    }
    
    .rec hr{
        width: 60px;
    }

    #h-gal{
        font-size: 24px;
    }

    .intro {
        padding: 135px 0;
        /* min-height: 540px;
        background-position: 75% 75%;
        background-repeat: no-repeat;
        background-size: cover; */
        position: relative;
        z-index: 0;
        margin-bottom: 60px;
    }

    .main-pic{
        display: none;
    }
}

.table-nav {
    transition: transform 0.3s ease;
    transform-origin: center;
}

.table-nav:hover {
    transform: scale(1.05); /* Adjust scale as desired */
}

/* Navbar Code */

nav #navbar-top{
    font-size: 16px;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 8px 0px;
  }
