body {
    background-color: #F0FFF3;
}

h1{
    color:#183E33;
    font-size: 28px;
    /* position: relative; */
    font-family: "Arimo", Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    font-weight: bold;
    line-height: 162%;
    font-style: italic;
}

h2{
    color: #183E33;
    font-family: "Arimo", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

p{
    font-family: "Manrope", Arial, Helvetica, sans-serif;
    font-size: 16px;
    
}

a{
    color:black;
    text-decoration: none;
}

th{
    background-color: #003478;
    font-family: "Manrope", Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #F0FFF3;
    padding: 6px;
}

td{
    padding: 6px;
    color:#183E33;
    font-family: "Merriweather", 'Times New Roman', Times, serif;
    font-size: 16px;
}

tr{
    border-bottom: 1px solid #6A8A81;
}

#header_h1{
    font-size: 48px;
    color:#f0fff3;
}

.content {
    background-color: white;
    border-radius: 9px;
    border: 1px solid rgba(0, 0, 0, 0.45);
    margin-top: 60px;
    padding: 45px 90px;
}

.hero-section{
    padding: 81px 300px;
    background-image: url('img/header.jpg');
    background-position: 50% 65%;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 500px;
    min-height: 168px; 
    position: relative;
    z-index: 0;
}


#logo-text{
    position: absolute;
    font-family: Roboto Slab;
    font-weight:bold;
    font-size:10px;
    color: #F0FFF3;
    margin-top: -11px;
    z-index: 1;
}

.img-preview{
    border: 1px solid #18211e80;
}

/* Recipients */
.intro {
    padding: 100px 0;
    min-height: 540px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    margin-bottom: 60px;
}

.rec h1 {
    color: #F0FFF3;
    font-size: 96px;
    font-family: "Arimo", Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    font-weight: bold;
    font-style: italic;
    line-height: 100%;
}

.rec h2 {
    color: #92BB98;
    font-family: "Arimo", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 1px;
}

.rec h3{
    color: #F0FFF3;
    font-family: "Arimo", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.rec p{
    color: #F0FFF3;
    font-family: "Manrope", Arial, Helvetica, sans-serif;
    line-height: 150%;
    font-size: 16px;
}

hr{
    border: none;
    height: 2px;
    width: 120px;
    background: #1C473B;
    text-align: right;
    margin-left: auto;
    margin-bottom: 30px;
}

.carousel{
    position: relative;
    margin-bottom: 60px;
}

.carousel img{
    max-height: 500px;
    width: auto;
}


.rec a.btn{
    background-color: none;
    color: white;
    border-radius: 9px;
    border: solid 2px white;
    padding: 9px 18px;
    margin-left: 16px;
}

#h-gal{
    text-align: end;
    color: #1C473B;
    font-family: "Arimo", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
}

@media only screen and (max-width: 720px){
    h1{
        font-size: 20px;
    }

    h2{
        font-size: 16px;
    }

    p{
        font-size: 12px;
    }

    td, th{
        font-size: 11px;
    }

    .hero-section{
        padding: 81px 50px;
    }

    .content{
        padding: 21px 33px;
        margin-top: 30px;
    }

    #header_h1{
        font-size: 30px;
    }

    /* Recipients */
    .rec h1{
        font-size: 34px;
        line-height: 100%;
    }
    
    .rec h2{
        font-size: 24px;
    }
    
    .rec h3{
        font-size: 16px;
    }
    
    .rec p{
        line-height: 150%;
        font-size: 12px;
    }
    
    .rec hr{
        width: 60px;
    }

    #h-gal{
        font-size: 24px;
    }

    .intro {
        padding: 135px 0;
        min-height: 540px;
        background-position: 75% 75%;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        z-index: 0;
        margin-bottom: 60px;
    }
}

td {
    position: relative;
    transition: all 0.3s ease;
}

td a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 10px;
    transition: all 0.3s ease;
}

td a:hover {
    transform: scale(1.2); /* Expands the link */
}



/* Navbar Code */

nav #navbar-top{
    font-size: 16px;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 8px 0px;
  }
